* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.25rem;
}

main {
  background-color: hsl(0, 0%, 100%);
  max-width: 20rem;
  width: 90%;
  border-radius: 1.25rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.25rem;
  box-shadow: 0 1.5625rem 1.5625rem rgba(0, 0, 0, 0.05);
}

.code-container {
  margin-bottom: 1.25rem;
}

.code-container img {
  width: 100%;
  height: auto;
  border-radius: 1.25rem;
}

.description h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  text-align: center;
  margin-bottom: 1.25rem;
  color: hsl(218, 44%, 22%);
}

.description figcaption{
  font-family: 'Outfit', sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  text-align: center;
  color: hsl(216, 15%, 40%);
  padding: 0 1.25rem;
  margin-bottom: 1.25rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
  color: hsl(216, 15%, 48%);
}
